/* Wrappers */

#lbOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%; /* Will be rewritten by JS */
    background-color: #111; /* For non-rgba compatible browsers */
    background-color: rgba(0,0,0,0.9);
}
#lbMain {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 100; /* One higher than #lbOverlay */
    text-align: center;
    line-height: 0;
}
#lbMain a img {
    border: none
}

/* Top Nav */

#lbNav {
    text-align: right;
}
#lbClose {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(img/close.png) no-repeat;
    margin-right: -18px;
}

/* Content */

#lbOuterContainer {
    position: relative;
    margin: 0 auto;
}
#lbLoading {
    position: absolute;
    top: 45%;
    height: 32px;
    width: 100%;
    text-align: center;
    line-height: 0;
    background: url(img/loading.gif) center no-repeat;
}

/* Meta */

#lbDetailsContainer {
    color: white;
    overflow: auto;
    margin: 1em 0;
    text-align: center;
    line-height: 1.6em;
}

#lbPrev,
#lbNext {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 50px;
}
#lbPrev { background: url(img/prev.png) left top no-repeat; }
#lbNext { background: url(img/next.png) right top no-repeat; }

#lbDetails {
    display: inline-block;
    vertical-align: top;
}
#lbCaption,#lbNumberDisplay {
    display: block;
}