/* Wrappers */

#lbOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%; /* Will be rewritten by JS */
    background-color: #111; /* For non-rgba compatible browsers */
    background-color: rgba(0,0,0,0.9);
    line-height: 1;
}
#lbMain {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
#lbMain a img {
    border: none;
    max-width: 100%;
}

/* Top Nav */

#lbNav {
    text-align: right;
}
#lbClose {
    display: inline-block;
    width: 2em;
    margin-right: -2em;
}

/* Content */

#lbOuterContainer {
    position: relative;
    margin: 0 auto;
}
#lbLoading {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
}

/* Meta */

#lbDetailsContainer {
    color: white;
    overflow: auto;
    margin: 1em 0;
    text-align: center;
    line-height: 1.6em;
}

#lbPrev,
#lbNext {
    display: inline-block;
    vertical-align: top;
    padding: 0 2em;
}

#lbDetails {
    display: inline-block;
    vertical-align: top;
}
#lbCaption,#lbNumberDisplay {
    display: block;
}